numpy==1.16.1
pandas==0.24.1
scikit-learn==0.20.0
scipy==1.2.1
tensorflow==1.12.1
keras-preprocessing==1.0.9
keras-applications==1.0.7
opencv-python==3.4.1.15
keras==2.2.4
glob2==0.6
pillow==5.1.0
h5py==2.7.1
matplotlib==2.2.2
